* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #E3D6D6;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.hero-section {
    color: #efefef;
    background-image: url('../images/hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    padding: 0 70px;
    z-index: 2;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 32.29%, rgba(0, 0, 0, 0.00) 63.54%);
}

.hero-section h1 {
    color: #efefef;
    font-family: 'Merriweather', serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 134.7%;
    max-width: 500px;
    padding-top: 79px;
}

.hero-section p {
    max-width: 465px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: .9px;
    /* 27.004px */
}

.hero-section button {
    border-radius: 10px;
    background: #C8C8A9;
    padding: 12px 115px;
    border: none;
    margin: 60px 0 150px;
    font-size: 24px;
    cursor: pointer;
    color: #212427;
}

.hero-section button:hover {
    opacity: .8;
    transition: .3s;
}

@media (max-width: 600px) {
    .hero-content {
        padding: 0 25px;
        background: rgba(0, 0, 0, 0.65);
    }

    .hero-section h1 {
        padding-top: 59px;
    }

    .hero-section button {
        padding: 20px 0;
        width: 100%;
        margin: 60px 0 55px;
    }
}

/* Slider */
.slider {
    margin: 80px 0;
}

.slider img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin: 0 12px;
}

.slick-dots {
    bottom: -40px;
}


@media (max-width: 600px) {
    .slider {
        margin: 50px 0;
    }

    .slider img {
        margin: 0 12px;
    }

    .slick-dots {
        bottom: -35px;
    }

    .slick-dots li {
        margin: 0;
    }
}

/* Our Services */

.our-services-section {
    margin-top: 80px;
    background-color: #E3D6D6;
}

.our-services-section .container {
    padding: 70px 70px 140px;
    display: flex;
    align-items: center;
    gap: 200px;
    color: #212427;
    margin-inline: auto;
    max-width: 1400px;
}

.our-services-section .left-content {
    flex: 1;
}


.our-services-section .left-content h2 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    margin-bottom: 30px;
}

.our-services-section div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6rem;
    letter-spacing: .9px;
}

.our-services-section .right-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.our-services-section .right-content .image-wrapper {
    display: flex;
    justify-content: center;
}

.our-services-section .right-content img {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

@media (max-width: 1100px) {

    .our-services-section {
        margin-top: 50px;
    }

    .our-services-section .container {
        flex-direction: column;
        padding: 40px 25px 60px;
        gap: 60px;
        max-width: 600px;
    }
}

/* Filler Section */
.filler-section {
    background: #3E3838;
}

.filler-section .container {
    display: flex;
    align-items: center;
    padding: 95px 70px;
    gap: 200px;
    margin-inline: auto;
    max-width: 1400px;
}

.filler-section .left-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.filler-section .left-content .image-wrapper {
    display: flex;
    justify-content: center;
}

.filler-section .left-content img {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.filler-section .right-content {
    flex: 1;
}

.filler-section .right-content h2 {
    font-family: 'Merriweather', serif;
    font-size: 26px;
    text-align: center;
    max-width: 336px;
    letter-spacing: .06rem;
    line-height: 133.7%;
    /* 40.11px */
    color: #efefef;
    margin-inline: auto;
}

@media (max-width: 1100px) {
    .filler-section .container {
        flex-direction: column-reverse;
        padding: 40px 25px;
        gap: 60px;
        max-width: 600px;
    }
}


/* Booking section */

.booking-section {
    background-color: #222;
    padding: 100px 25px;
    color: #efefef;
}

.booking-section h2 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    max-width: 470px;
    margin-inline: auto;
    margin-bottom: 32px;
}

.booking-section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 132.7%;
    /* 21.232px */
    max-width: 470px;
    margin-inline: auto;
    font-weight: 400;
    margin-bottom: 55px;
}

.booking-section form {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.booking-section form label {
    margin: 40px 0 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.booking-section form input,
.booking-section form textarea {
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.10);
    font-size: 18px;
    padding: 10px;
    color: #efefef;
}

.submit-button {
    margin-top: 21px;
    font-size: 18px;
    display: inline;
    align-self: flex-end;
    padding: 10px 48px;
    border-radius: 5px;
    border: none;
    background: #C8C8A9;
    cursor: pointer;
    color: #212427;
    font-weight: 400;
}

.submit-button:hover {
    opacity: .8;
    transition: .3s;
}

@media (max-width: 600px) {
    .booking-section {
        padding: 40px 25px 90px;
    }

    .booking-section h2 {
        margin-bottom: 25px;
    }
}

/* About */

.about-section {
    background-color: #3E3838;
    color: #efefef;
    padding: 90px 25px;
}

.about-section h2 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
    max-width: 465px;
    margin-inline: auto;
}

.about-section p {
    max-width: 465px;
    margin-inline: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150.023%;
    letter-spacing: .9px;
}

@media (max-width: 600px) {
    .about-section {
        padding-top: 40px;
    }

    .about-section h2 {
        text-align: start;
    }
}

/* Blog Into section */

.blog-intro {
    background-color: #222;
    padding: 44px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.blog-intro img {
    width: 130px;
}

.blog-intro a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 24px;
    padding: 16px 55px;
    background-color: #efefef;
    border-radius: 10px;
    transition: .2s;
}

.blog-intro a:hover {
    opacity: .8;
}

/* Footer */

footer {
    background-color: #E3D6D6;
    font-size: 18px;
    color: #333;
    padding: 50px 70px 25px;
    font-family: 'Merriweather', serif;
}



.social {
    padding-bottom: 25px;
    border-bottom: 1px solid #999;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social img {
    opacity: .85;
    cursor: pointer;
}

.social img:hover {
    opacity: .6;
    transition: .3s;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 25px;
}

footer .website-by {
    color: #808080;
    font-weight: 200;
}

footer .website-by a {
    color: inherit;
    vertical-align: middle;
}

footer .website-by a:hover {
    opacity: .8;
    transition: .3s;
}

@media (max-width: 800px) {

    footer {
        padding: 30px 35px 25px;
    }

    footer .bottom {
        flex-direction: column;
        align-items: center;
    }

    footer .bottom .copyright {
        text-align: center;
    }
}